[submodule "third_party/xmSigma"]
	path = third_party/xmSigma
	url = git@github.com:rxdu/xmSigma.git
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
[submodule "third_party/rpi_sbus"]
	path = third_party/rpi_sbus
	url = https://github.com/rxdu/raspberry_sbus.git
